.button1 {
  font-size: 23px;
  background: #ffff00;
  border-style: none;
  padding: 15px 30px 15px 30px;
  transition: 0.5s;
  text-align: center;
  text-decoration: none;
  font-family: "ZCOOL KuaiLe", cursive;
}

.button1:hover {
  background: #ff6347;
  color: white;
}

.score {
  color: red;
  font-size: 50px;
  font-family: "ZCOOL KuaiLe", cursive;
  font-weight: bolder;
}

.div {
  margin-bottom: 30px;
}

.answers {
  text-align: left;
  font-family: "Roboto Mono", monospace;
}

.red {
  background: #fedadb;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px 40px 5px 40px;
}

.blue {
  background: #a7fef8;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px 40px 5px 40px;
}

h2 {
  font-family: "ZCOOL KuaiLe", cursive;
  color: #6a5acd;
  font-size: 30px;
}
